RewriteEngine On

RewriteRule ^([a-z]+)$                     inicio.php?e=$1
RewriteRule ^([a-z]+)/(\d+)$               inicio.php?e=$1&id=$2&a=edit
RewriteRule ^([a-z]+)/new$                 inicio.php?e=$1&a=new
RewriteRule ^([a-z]+)/(\d+)/(edit|delete)$ inicio.php?e=$1&id=$2&a=$3